* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background: #f8e5d1;
}

.images {
	width: 400px;
	height: 400px;
}

.gallery {
	width: 900px;
	display: flex;
	overflow-x: scroll;
}

.gallery div {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	padding: 10px;
	flex: none;
}

.gallery div img {
	width: 100%;
	filter:grayscale(50%);
	transition: transform 0.7s;
	border-radius: 10px;
}

.gallery::-webkit-scrollbar {
	display: none;
}

.arrow {
	width: 60px;
	height: 60px;
}

.gallery-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10% auto;
}

#backBtn, #nextBtn {
	width: 50px;
	cursor: pointer;
	margin: 40px;
}

.gallery div img:hover {
	filter: grayscale(0);
	cursor: pointer;
	transform: scale(105%) skewY(1deg) ;
}